.social-login
    button.social-login--Github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
                |&nbsp;Continue with Github
    button.social-login--Facebook
        a(href=routes.faceBook)
            span
                i.fab.fa-facebook
                |&nbsp;Continue with Facebook

            //- bem :css