extends layouts/main
include mixins/videoBlock
block content
    .home-videos
        each item in videos
            +videoBlock({
                id: item.id,
                title: item.title,
                views: item.views,
                videoFile: item.fileUrl
            })

        //- each item in/of array item자리에 뭐 들어가든 상관없음. mixin인자와 일치해야하는것도아님